
APS_lab1/db/
APS_lab2/db/
APS_lab3/db/
APS_lab4/db/
APS_lab5/db/
*.qsf

*.qws

*.bak

*.rpt

APS_lab1/simulation/modelsim/
APS_lab2/simulation/modelsim/
APS_lab3/simulation/modelsim/
APS_lab4/simulation/modelsim/
APS_lab5/simulation/modelsim/
*.qpf
