
APS_lab1/db/
APS_lab2/db/
APS_lab3/db/
APS_lab4/db/
APS_lab5/db/
*.qsf

*.qws

*.bak

*.rpt

APS_lab1/simulation/modelsim/
APS_lab2/simulation/modelsim/
APS_lab3/simulation/modelsim/
APS_lab4/simulation/modelsim/
APS_lab5/simulation/modelsim/
*.qpf

APS_lab6/alg.txt

APS_lab6/alg_1.txt

APS_lab6/db/

APS_lab6/simulation/modelsim/

*.db_info

*.ammdb

*.cdb

APS_lab6/incremental_db/compiled_partitions/

APS_lab6/output_files/

APS_lab7/db/

APS_lab7/incremental_db/compiled_partitions/

APS_lab6/simulation/

APS_lab6/incremental_db/

APS_lab7/output_files/

APS_lab7/simulation/modelsim/
